<!DOCTYPE html>
<html>
    <head>
        <title>
            Welcome to explain.it 
        </title>
        <link href="jairusstyle.css" rel="stylesheet">
    </head>

    <body>
        <div id="navBar">
            <center>
                <h2>learn.it more like Billion Dollar Company</h2>
            </center>
        </div>

        <form>
            Title:<br>
            <input type = "text" name = "title" style = "width:200px">
            <br>
            Explanation:<br>
            <input type = "text" name = "explanation" style = "height:200px;width:200px">
        </form>
        <br><button type = "button">Post</button>
    </body>
</html>