<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>
            Welcome to explain.it 
        </title>
    </head>

    <header>
        <div class="navContainer">
            <div class="porn">
                Porn
                <div class="hub">
                        Hub
                    </div>
                <nav>
            </div>
            <ul>
                <li><a href="/"><h6>Home</h6></a></li>
                <li><a href="/post"><h6>Post</h6>></a></li>
            </ul>
        </nav>
        </div>
    </header>

    <body>
        <br>
        <center>
            welcome to pornhub <br>
            hi ric - do you like it?
        </center>


    </body>
</html>