<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>
            Welcome to explain.it 
        </title>
    </head>

    <header>
        <div class="navContainer">
            <img src="lilogo.jpg" alg="logo" class="logo">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/post">Post</a></li>
            </ul>
        </nav>
        </div>
    </header>

    <body>
    


    </body>
</html>