<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>
            Welcome to explain.it 
        </title>
    </head>

    <body>
        <div id="navBar">
            <center><% include templates/header.ejs %></center>
        </div>
    </body>
</html>