<html>
    <head>
        <title>
            Welcome to explain.it 
        </title>
    </head>
    <body>
        <form>
            Title:<br>
            <input type = "text" name = "title">
            Explaination<br>
            <input type = "text" name = "explanation">
        </form>
    </body>
</html>