<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>
            Welcome to explain.it 
        </title>
        <link href="jairusstyle.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div id="navBar">
            <center>
                <h2>learn.it more like Billion Dollar Company</h2>
            </center>
        </div>

        <form>
            Title:<br>
            <input type = "text" name = "title" style = "width:200px">
            <br>
            Explanation:<br>
            <textarea rows = "10" cols = "30" name = "explanation" form = "usrexplanation"> </textarea>
        </form>
        <br><button type = "button">Post</button>
    </body>
</html>

jjhgjkhg