<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS + Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>
        Explain.it
    </title>
</head>

<!-- Navbar -->
<header>
    <nav class="navbar navbar-expand-xl fixed-top navbar-light" style="background-color: #f1ebeb;">
        <a class="navbar-brand" href="/">Explain.it</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item1 active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item2 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">About</a>
                        <a class="dropdown-item" href="#">Contact</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <a id="button-test"></a>
    <div class="welcome">
        <div id="welcomeText">
            Welcome
        </div>
        <div class="welcome-body">
            <a href="#explain" id="clickScroll">Click to get started..</a>
        </div>
        <div class="form" id="explain">
            <center>Step 1: Explain a concept!</center>
            <hr>
            <form id="form" action="/" method="POST">
                <div class="form-group">
                    <label for="title">Concept:</label>
                    <input class="form-control input-sm col-sm-2" name="title" id="titleForm"
                        placeholder="Photosynthesis">
                </div>
                <div class="form-group">
                    <label for="concept">Explain it:</label>
                    <textarea class="form-control input-sm col-sm-7" name="concept" id="conceptForm" rows="10"
                        placeholder="Essential for the growth of plants..."></textarea>
                </div>
                <div class="buttons">
                    <button id="post" class="btn btn-light btn-lg" type="submit"> Post </button>
                    <div id="success">Success!</div>
                    <button id="getContent" class="btn btn-light btn-lg"> Compare </button>
                </div>
                <div id="compare">
                    <div id="stepTwo">
                        Step 2: Compare your explanation with others!
                        <hr>
                    </div>
                    <div id="output"></div>
                </div>







            </form>
        </div>
    </div>
    <!-- Scripts -->
    <script>
        document.getElementById('post').addEventListener('click', reset);
        document.getElementById('getContent').addEventListener('click', getContent);

        function getContent() {
            let explanation;
            explanation = document.getElementById('conceptForm').value;
            if (explanation == "") {
                alert("Please write an explanation.");
                return false;
            };
            fetch('https://explain-it.herokuapp.com/postdata')
                .then((res) => res.json())
                .then((data) => {
                    let output = data[data.length - 1].content;
                    document.getElementById('output').innerHTML = output;
                })
                .catch((err) => console.log(err))

            location.href = "https://explain-it.herokuapp.com/#compare"
            document.getElementById("form").reset();
        }

        function reset() {
            let title = document.getElementById('titleForm').value;
            if (title == "") {
                alert("Please write a title.");
                return false;
            };
            setTimeout(function () {
                document.getElementById("success").style.visibility = "visible";
            }, 1000)
        }
    </script>
    <script>
        jQuery(document).ready(function () {

            var btn = $('#button-test');

            $(window).scroll(function () {
                if ($(window).scrollTop() > 300) {
                    btn.addClass('show');
                } else {
                    btn.removeClass('show');
                }
            });

            btn.on('click', function (e) {
                e.preventDefault();
                $('html, body').animate({ scrollTop: 0 }, '300');
            });

        });
    </script>

</body>

</html>