<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>
        Welcome to explain.it
    </title>
</head>

<header>
    <div class="navContainer">
        <div class="explainIt">Explain.it!</div>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <center>
        <form action="/post" method="POST">
            Title:<br>
            <input placeholder="Title" name="title" style="width:200px">
            <br>
            Explanation:<br>
            <textarea rows="10" placeholder="Explanation" name="explanation" cols="30"> </textarea>
            <br>
            <button id="post" onclick="document.getElementById('success').innerHTML = 'Success!'"> Post </button><div id = "success"></div>
            <button id="getContent"> View post </button><br>
            <br>
            <div id="output"></div>
            <script>
                document.getElementById('getContent').addEventListener('click', getContent);

                function getContent() {
                    fetch('https://explain-it.herokuapp.com/postdata')
                        .then((res) => res.json())
                        .then((data) => {
                            let output = '<h2>Your post:</h2>' + data[data.length-1].content;
                            document.getElementById('output').innerHTML = output;
                        })
                        .catch((err) => console.log(err))
                }
            </script>
        </form>
    </center>
</body>
</html>
