<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>
        Welcome to explain.it
    </title>
</head>

<header>
    <div class="navContainer">
        <div class="explainIt">Explain.it!</div>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <center>
        <form id="form" action="/post" method="POST">
            Title:<br>
            <input placeholder="Title" name="title" style="width:200px">
            <br>
            Explanation:<br>
            <textarea rows="10" placeholder="Explanation" name="explanation" cols="30"> </textarea>
            <br>
            <button id="post" type="submit" return="false"
                onclick="document.getElementById('success').innerHTML = 'Success!'"> Post </button>
            <div id="success"></div>
            <button id="getContent"> View post </button><br>
            <br>
            <div id="output"></div>

            <!--
                Scripts
            -->
            <script>
                document.getElementById('post').addEventListener('click', reset);
                document.getElementById('getContent').addEventListener('click', getContent);

                function getContent() {
                    fetch('http://localhost:4000/postdata')
                        .then((res) => res.json())
                        .then((data) => {
                            let output = '<h2>Your post:</h2>' + data[data.length - 1].content;
                            document.getElementById('output').innerHTML = output;
                        })
                        .catch((err) => console.log(err))
                    document.getElementById("form").reset();
                }

                function reset() {
                    setTimeout(function () {
                        document.getElementById("success").innerHTML = '';
                    }, 3000)
                }

            </script>
        </form>
    </center>
</body>

</html>