<!DOCTYPE html>
<html>
<a href="/">Back</a>

<body>
    <form action="/post" method = "POST">
        Title:<br>
        <input placeholder = "Title" name="title" style="width:200px">
        <br>
        Explanation:<br>
        <textarea rows="10" placeholder = "Explanation" name="explanation" cols="30" > </textarea>    
        <br>
        <button> Post </button><br>
        <br>Your post:
    </form>
</body>

</html>