<!DOCTYPE html>
<html>
<a href="/">Back</a>

<body>
    <form action="/post" method = "POST">
        Title:<br>
        <input type="text" name="title" style="width:200px">
        <br>
        Explanation:<br>
        <textarea rows="10" cols="30" name="explanation"> </textarea>    
        <br>
        <button> Post </button><br>
        <br>Your post:
    </form>
</body>

</html>