html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 100px;
    margin: 0px;
    padding: 0px;
    padding-top: 150px;
    color: rgb(255, 255, 255);
    background-color: #C9C2C1;
    background-image: url("https://picsum.photos/id/7/1920/1080/?blur");
    background-size: cover;
    background-attachment: fixed;
}

nav.navbar {
    padding: 40px;
}

li.nav-item2 {
    position: relative;
    right: -1350px;
}

div.welcome {
    font-size: 90px;
    font-weight: bolder;
    position: relative;
    padding-left: 100px;
    padding-top: 100px;
}

div.welcome-body {
    font-size: 50px;
    position: relative;
    padding-left: 100px;
    padding-top: 25px;
    height: 1920px;
}

#clickScroll {
    text-decoration: none;
    color: inherit;
}

#formSection {
    height: 2500px;
    position: relative;
    padding-top: 200px;
    font-weight: bold;
    font-size: 75px;
}