body {
    margin: 0px;
    padding: 0px;
    background: #222;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

header {
    background: rgb(50, 50, 50);
    padding: 10px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    margin: 1px;
}

.navContainer {
    margin: 0 auto;
    width: 30%;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: wheat;
}

a:active {
    color: white;
}

h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
}

.porn {
    color: white;
}
.hub {
    color: orange;
}